.header{
    position: sticky;
    background-color: transparent;
    left: 0;
    right: 0;
    top: 0;
    line-height: 0;
    background-color: #f9f9f9;   
    padding-left: 298px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    z-index: 999;
    nav{
        flex: 1;
        display: flex;
        height:50px;
        justify-content: space-between;

        div{
            height:100%;
            display: flex;
            align-items: center;
        }
    }
}


@media screen and (max-width:480px) {
    .header{
        padding-left: 10px;
        background-color:#1082c1;
        box-shadow: 0 4px 10px rgba(0,0,0,.03)!important;
        div{
            h4{
                color: white;
                font-size: 20px;
            }
        }
        nav{

            ul{
                li{
                    color: white;
                }
            }
            
        }
    }
}
