.sidebar{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1001;
    background-color: #1082c1!important;
    // background-image: linear-gradient(160deg,#1ea8e7,#1ea8e7,#21aff0,#23b3f4);
}

.menu{
    background-color: transparent;
    padding: .75rem 1rem;

    li{
        
    }
}

.topbar{
    height:50px;
}